.idea
target
build
generated
modules
node
node_modules
package-lock.json
/src/main/resources/static/**.*
/src/main/resources/static/*

# exception to the rule
!/src/main/resources/static/.gitkeep
.iml
