
.noSourcesContainer {
    color: #f6e905;
    margin-left: 40px;
    margin-right: 40px;
    width: 95%;
    height: 60vh;
    border: 1px solid #7e3e3e;
    border-radius: 80px;
    font-size: 8.8em;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    letter-spacing: -15px;
    background: -webkit-linear-gradient(#ee1165, #c44b0a);
    position: relative;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.noSourcesContainer > div {
    animation: come2life linear 10s infinite;
    transform-origin: center center;
    opacity: 0;
    width: 1250px;
    height: 200px;
    position: absolute;
    backface-visibility: hidden;
}

.noSourcesContainer > div:nth-child(1) {
    left: 30vw;
    top: 10vh;
    animation-delay: 0s;
}

.noSourcesContainer > div:nth-child(2) {
    left: 70vw;
    top: 10vh;
    animation-delay: 4s;
}

.noSourcesContainer > div:nth-child(3) {
    left: 50vw;
    top: 20vh;
    animation-delay: 8s;
}

.noSourcesContainer > div:nth-child(4) {
    left: 30vw;
    top: 40vh;
    animation-delay: 6s;
}

.noSourcesContainer > div:nth-child(5) {
    left: 70vw;
    top: 20vh;
    animation-delay: 2s;
}

@keyframes come2life {
    0% {
        transform: scale3d(0,0,1) rotate(0.02deg);
        opacity: 0;
        filter: blur(10px);
    }
    25% {
        transform: scale3d(1,1,1) rotate(0.02deg);
        opacity: 1;
        filter: blur(0px);
    }
    40% {
        opacity: 1;
        filter: blur(0px);
    }

    80% {
        opacity: 0;
    }

    100% {
        transform: scale3d(4,4,1) rotate(0.02deg);
        filter: blur(10px);
    }
}